<template>
  <div>
    <navbar />
    <div class="row">
      <div class="col-sm-3 col-12 left">
        <left-panel />
      </div>
      <div class="col-sm-9 col-12 m-md-0 m-2 msg">
        <dragdrop />
      </div>
    </div>
  </div>
</template>

<script>
import LeftPanel from "./left-panel.vue";
import Navbar from "./navbar";
// import ContentField from "./contentField.vue";
import Dragdrop from "./dragdrop.vue";

export default {
  name: "Body",
  components: {
    Navbar,
    LeftPanel,
    // ContentField,
    Dragdrop,
  },
  data() {
    return {
      person: null,
      message: "",
      name: "",
      editIndex: undefined,
      lIndex: undefined,
      taskId: 0,
    };
  },
  mounted() {
    // this.taskId = this.lists.length;
  },
};
</script>

<style scoped></style>
