<template>
  <div class="text-left">
    <strong>{{ header }}</strong>
    <hr />
    <div class="row mb-2" :style="{ 'font-size': '14px' }" v-if="person">
      <div class="col-sm-4 col-12">
        <span id="total">TOTAL : {{ person.tasks.length }}</span>
      </div>
      <div class="col-sm-4 col-12 m-sm-0 mb-2 mt-2">
        <span id="completed">COMPLETED : {{ person.completed }}</span>
      </div>
      <div class="col-sm-4 col-12">
        <span id="progress">
          PENDING : {{ person.tasks.length - person.completed }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-11">
        <input
          v-if="person"
          class="form-control"
          placeholder="Enter Tasks Todo"
          type="text"
          v-model="msg"
          v-on:keyup.enter="assignTask(msg)"
        />
      </div>
    </div>
    <div v-if="person">
      <div
        :id="t1.id"
        class="row m-2 text-left"
        v-for="(t1, index) in person.tasks"
        :key="index"
      >
        <div class="col-10">
          <div class="row text-dark">
            <div class="col-lg-9 col-sm-8 col-12 todo" id="anim">
              <input
                v-if="edit != index"
                class="m-1"
                type="checkbox"
                v-model="t1.done"
                v-on:change="taskDone(index)"
              />
              <span
                v-if="edit != index"
                id="done"
                v-bind:class="t1.done ? 'true' : ''"
              >
                <span v-if="t1.task.length <= 75 || t1.readIndex == 1">
                  {{ t1.task }}
                </span>
                <span v-if="t1.task.length > 75 && t1.readIndex == -1">
                  {{ t1.task.substring(0, 75) }}...
                </span>
                <span v-if="t1.task.length > 75">
                  <a
                    v-if="t1.readIndex == -1"
                    id="read"
                    v-on:click="more(index)"
                  >
                    More
                  </a>
                  <div
                    v-if="t1.readIndex == 1"
                    id="read"
                    v-on:click="less(index)"
                  >
                    Less
                  </div>
                </span>
              </span>
              <span v-if="edit == index">
                <input
                  class="form-control"
                  placeholder="Update Tasks Todo"
                  type="text"
                  v-model="editMsg"
                  v-on:keyup.enter="updateTask(editMsg)"
                />
              </span>
            </div>

            <div class="col-lg-3 col-sm-4 col-12 text-right">
              <span class="m-2" v-on:click="deleteTask(index)">
                <i class="fa fa-trash"></i>
              </span>
              <span class="m-2" v-on:click="editTask(index)">
                <i class="fa fa-edit"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "ContentField",
  props: [],
  data() {
    return {
      header: "Assign ToDo Tasks",
      msg: "",
      editMsg: "",
    };
  },
  computed: mapGetters(["person", "edit"]),
  methods: {
    ...mapActions[
      ("assignTask",
      "taskDelete",
      "moreText",
      "lessText",
      "doneTask",
      "notDoneTask",
      "taskEdit",
      "taskUpdate")
    ],
    more(index) {
      this.moreText(index);
    },
    less(index) {
      this.lessText(index);
    },
    taskDone(index) {
      if (this.person.tasks[index].readIndex == 1) {
        this.lessText(index);
      }
      if (this.person.completed > 0) {
        if (!this.person.tasks[index].done) this.notDoneTask();
      }
      if (this.person.tasks[index].done) this.doneTask();
    },
    assignTask(t1) {
      if (t1.length == 0) {
        alert("Trying to adding empty ToDo! Please add some task.");
      } else {
        this.header = "Assign ToDo Tasks";
        let obj = {
          pid: this.person.id,
          task: t1,
          done: false,
          readIndex: -1,
        };
        this.assignTask(obj);
        // console.log(this.person.tasks);
        this.msg = "";
        this.edit = this.taskEdit(undefined);
      }
    },
    deleteTask(index) {
      if (this.person.tasks[index].done) {
        this.notDoneTask();
      }
      this.taskDelete(index);
      this.edit = this.taskEdit(undefined);
    },
    editTask(index) {
      if (this.person.tasks[index].done) {
        this.notDoneTask();
      }
      if (this.person.tasks[index].readIndex == 1) {
        this.lessText(index);
      }
      this.edit = this.taskEdit(index);
      this.person.tasks[index].done = false;
      this.editMsg = this.person.tasks[index].task;
      this.header = "Edit a ToDo Task.";
    },
    updateTask(task) {
      this.taskUpdate(task);
      this.edit = this.taskEdit(undefined);
    },
  },
};
</script>
<style scoped>
botton {
  margin-left: 10px;
  margin-right: 10px;
}
.anim {
  animation: backwards;
}
.true {
  text-decoration: line-through;
  opacity: 0.5;
}
#anim {
  border-radius: 5px;
  background-image: linear-gradient(to right, pink, skyblue, lightgray);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  padding-top: 8px;
}
.drag {
  cursor: move;
}
.on-drag {
  color: #fff;
  z-index: 10;
}
.fa {
  margin-top: 10px;
}
strong {
  font-size: 20px;
}
#total {
  padding: 4px 6px;
  color: #007bff;
  background-color: #e6e6e6;
  border-radius: 5px;
}
#completed {
  padding: 4px 6px;
  color: #e54f4f;
  background-color: #f5d0d0;
  border-radius: 5px;
}
#progress {
  padding: 4px 6px;
  color: #499d49;
  background-color: #bae3ba;
  border-radius: 5px;
}
#read {
  color: green;
  cursor: pointer;
}
</style>
