<template>
  <div class="text-left">
    <!-- <b-button v-b-toggle.sidebar-1>Menu</b-button>
    <b-sidebar id="sidebar-1" title="Left" shadow> -->
    <div
      class="row m-2 text-left"
      v-for="(l1, index) in lists"
      v-bind:key="index"
    >
      <div
        :class="selectedIndex == index ? 'col-12 select p-2' : 'col-12 p-2'"
        v-bind:style="{ cursor: 'pointer' }"
        v-on:click="selectPerson(index)"
      >
        <a> {{ l1.name }}</a>
      </div>
    </div>
    <div class="row m-2 text-left">
      <div class="col-12">
        <button class="btn btn-sm btn-primary" v-on:click="add()">
          Add List
        </button>
      </div>
    </div>
    <!-- </b-sidebar> -->
  </div>
</template>
>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Left-panel",
  data() {
    return {
      selectedIndex: undefined,
    };
  },
  computed: mapGetters(["lists"]),
  // created() {
  //   // console.log(this.addPerson);
  // },
  methods: {
    ...mapActions(["choosePerson", "userRegistration"]),
    add() {
      this.userRegistration(true);
      this.$router.push({ path: "/login" });
    },
    selectPerson(index) {
      this.choosePerson(index);
      // console.log(this.$store.state.person);
      this.selectedIndex = index;
    },
  },
};
</script>
<style scoped>
#sidebar-1 {
  margin-top: 50px;
}
.select {
  background-color: #ecf0f1;
}
</style>
