<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand v-on:click="registerUser(false)">
        Admin Login
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item>
            <strong v-on:click="registerUser(true)">Add Users</strong>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <h2 v-if="!register">Login Users</h2>
    <h2 v-if="register">Register User</h2>
    <div class="row">
      <div class="col-12" v-if="error.length">
        <div class="text-danger" v-for="e in error" :key="e.id">
          {{ e }}
        </div>
      </div>
      <div class="col-md-2 col-12"></div>
      <div class="col-md-6 col-12">
        <div class="row m-2">
          <div class="col-12">
            <div class="form-group row">
              <label
                class="col-sm-4 col-12 text-sm-right text-left"
                for="username"
              >
                Username :
              </label>
              <div class="col-sm-8 col-12">
                <input
                  id="username"
                  placeholder="Enter Password"
                  class="form-control"
                  type="email"
                  name="username"
                  v-model="login.username"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                class="col-sm-4 col-12 text-sm-right text-left"
                for="password"
              >
                Password :
              </label>
              <div class="col-sm-8 col-12">
                <input
                  id="password"
                  placeholder="Enter Username"
                  class="form-control"
                  type="password"
                  name="password"
                  v-model="login.password"
                />
              </div>
            </div>
            <div class="form-group row" v-if="register">
              <label class="col-sm-4 col-12 text-sm-right text-left" for="name">
                Name :
              </label>
              <div class="col-sm-8 col-12">
                <input
                  id="name"
                  placeholder="Enter Name"
                  class="form-control"
                  type="email"
                  name="name"
                  v-model="name"
                />
              </div>
            </div>
            <div v-if="!register">
              <button class="btn btn-primary" v-on:click="loginUser">
                Login
              </button>
            </div>
            <div v-if="register">
              <button class="btn btn-primary" v-on:click="userAdded">
                Register
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Login",
  data() {
    return {
      name: "",
      login: {
        username: "",
        password: "",
      },
      error: [],
    };
  },
  computed: mapGetters(["lists", "register"]),
  methods: {
    ...mapActions(["authneticateUser", "userRegistration", "newPerson"]),
    registerUser(status) {
      this.userRegistration(status);
    },
    userAdded() {
      this.error = [];
      // console.log(p1.length);
      if (this.login.username) {
        this.error.push("Enter valid Username");
      }
      if (this.login.password) {
        this.error.push("Password required");
      }
      if (!this.name) {
        this.error.push("Name required");
      }
      if (this.login.username && this.login.password && this.name) {
        if (this.name.length < 3 || this.name.length > 40) {
          alert("Name should be minimum 3 and maximum 40 characters long.");
        } else {
          let obj = {
            id: this.lists.length,
            name: this.name,
            username: this.login.username,
            password: this.login.password,
            tasks: [],
            completed: 0,
          };
          this.newPerson(obj);
          this.name = "";
          this.authneticateUser(true);
          this.userRegistration(false);
          this.$router.push({ path: "/body" });
        }
      }
    },
    loginUser(e) {
      this.error = [];
      let user = this.lists.find(
        (l1) =>
          l1.username == this.login.username &&
          l1.password == this.login.password
      );
      if (user) {
        console.log("Login Success");
        this.authneticateUser(true);
        this.$router.push({ path: "/body" });
      } else {
        console.log("Invalid credentials");
        this.error.push(
          "Invalid Credentials! Please enter correct credentials."
        );
      }
      e.preventDefault();
    },
  },
};
</script>
