<template>
  <div>
    <b-navbar toggleable="lg" type="light" variant="warning">
      <b-navbar-brand>
        Todo
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item>
            <strong v-if="person">{{ person.name }} ToDo</strong>
          </b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item>
            <strong v-on:click="logout">Logout</strong>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Navbar",
  computed: mapGetters(["person"]),
  methods: {
    ...mapActions(["authneticateUser"]),
    logout() {
      this.authneticateUser(false);
    },
  },
};
</script>
<style scoped>
strong {
  font-size: 20px;
}
</style>
