<template>
  <div id="app">
    <!-- <registration />
    <registrations /> -->
    <Body />
    <!-- <Dragdrop /> -->
    <!-- <Form /> -->
    <!-- <nav>
      <ul>
        <li>
          <router-link to="/">Home</router-link>
        </li>
        <li>
          <router-link to="/about">About</router-link>
        </li>
      </ul>
    </nav>
    <router-view></router-view> -->
  </div>
</template>

<script>
// import Registration from "./components/registration.vue";
// import Registrations from "./components/registrations";
// import Dragdrop from "./components/dragdrop";
import Body from "./components/body.vue";
// import ToggleStuf from "./components/toggleStuf.vue";
// import Form from "./components/Form";
export default {
  name: "App",
  components: {
    // Registration,
    // Registrations,
    // Dragdrop,
    // ToggleStuf,
    Body,
    // Form,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}
body {
  background-image: url("https://i.ibb.co/JCkf4ZH/download.jpg");
}
</style>
